<p id="notice"><%= notice %></p>

<h1>Listado de Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
       <th>Idioma</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria.each do |categoria| %>
      <tr>
        <td><%= categoria.titulo %></td>
        <td><%= categoria.idioma_id %></td>
        <td><%= link_to 'Show', categoria %></td>
        <td><%= link_to 'Edit', edit_categorium_path(categoria) %></td>
        <td><%= link_to 'Destroy', categoria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Categoria', new_categorium_path %>
