<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticia.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @noticia.descripcion %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @noticia.estatus %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @noticia.fecha %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @noticia.categoria %>
</p>

<p>
  <strong>Relevancia:</strong>
  <%= @noticia.relevancia %>
</p>

<p>
  <strong>Agrupador:</strong>
  <%= @noticia.agrupador_id %>
</p>
<p>
  <strong>Idioma:</strong>
  <%= @noticia.idioma_id %>
</p>

<%= link_to 'Editar', edit_noticium_path(@noticia) %> |
<%= link_to 'Regresar', noticia_path %>
